html {
  height: 100%;
  width: 100%;
}

body {
  background-color: rgb(52, 52, 52);
  color: rgb(255, 255, 255);
  padding: 10px;
}

h1 {
  color: rgb(130, 200, 255);
  display: flex;
  position: relative;
  padding-left: 2%;
  padding-top: 16px;
  font-family: "Courier New", Courier, monospace;
  font-size: 40px;
}

table {
  background-color: rgb(129, 129, 129);
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}
ol {
  list-style: upper-roman;
}
ul {
  list-style: square;
}
a:hover {
  background-color: rgb(55, 223, 25);
}

img {
  border-radius: 12px;
  border: 2px solid rgb(255, 255, 255);
  width: 500px;
  height: 300px;
}
img:hover {
  border: 2px solid rgb(42, 118, 232);
  width: 550px;
  height: 350px;
}
